<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Data Driven Basics">

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Bank Manager Login Test">
        <classes>
            <class name="gerard.testcases.BankManagerLoginTest" />
        </classes>
    </test>

    <test name="Add Customer Login Test">
        <classes>
            <class name="gerard.testcases.AddCustomerTest">
            </class>
        </classes>

    </test>

</suite>
